:root {

    --glow:
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 25px rgba(255, 255, 255, 0.4);

    --heading-max-width: 1000px;
    --heading-min-width: 500px;

    --button-max-width: 700px;
    --button-min-width: 400px;

    --logo-max-width: 90px;
    --logo-min-width: 70px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: black;
    font-family: sans-serif;
    overflow-x: hidden;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}